.home-container {
  display: flex;
  width: 50%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.home-container .title {
  font-size: 3.5rem;
  color: #133c5f;
  font-weight: 800;
}
.home-container .desc {
  font-size: 1.5rem;
  color: #133c5f;
  font-weight: 500;
  margin-top: 1rem;
  font-weight: 600;
}
.home-container .btn-started {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  background-color: #1fac49;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.home-container .btn-started:hover {
  background-color: #133c5f;
}
